<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <br>
  <%= @race.name %>
</p>

<p>
  <b>Description:</b>
  <br>
  <%= @race.description %>
</p>

<p>
  <b>Horses:</b>
  <ul>
    <%= render :partial => "horses/horse_li", :collection => @race.horses, :as => :horse%>
  </ul>
</p>

<p>
  <b>Jockeys:</b>
  <ul>
    <%= render :partial => "jockeys/jockey_li", :collection => @race.jockeys, :as => :jockey%>
  </ul>
</p>